<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>

<th:block th:fragment="stylesheets">
    <th:block th:fragment="materializecss" th:replace=":: cssFragment('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')" ></th:block>
    <th:block th:fragment="materialicons" th:replace=":: cssFragment('https://fonts.googleapis.com/icon?family=Material+Icons')" ></th:block>
    <th:block th:fragment="materialcomponents" th:replace=":: cssFragment('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')" ></th:block>
    <th:block th:fragment="customcss" th:replace=":: cssFragment('/static/css/custom.css')" ></th:block>
</th:block>

<th:block th:fragment="scripts">
    <th:block th:fragment="materializescript" th:replace=":: scriptFragment('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')" ></th:block>
    <th:block th:fragment="jquery" th:replace=":: scriptFragment('https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')" ></th:block>
</th:block>
<link th:href="${cssLink}" th:fragment="cssFragment (cssLink)" rel="stylesheet">

<style th:utext="${inlineCss}" th:fragment="inlineCssFragment (inlineCss)"></style>

<script th:src="${scriptLink}" th:fragment="scriptFragment (scriptLink)"></script>

<script th:utext="${inlineScript}" th:fragment="inlineScriptFragment (inlineScript)"></script>

</body>
</html>