<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>

<th:block th:fragment="navFragment (node)">
    <th:block th:if="${node.directory}">
        <li>
            <a class="subheader" th:text="${node.displayName}"></a>
            <ul>
                <th:block th:each="childNode: ${node.children}">
                    <li th:replace="::navFragment (${childNode})"></li>
                </th:block>
            </ul>
        </li>
    </th:block>
    <li th:unless="${node.directory}">
        <a th:text="${node.displayName}" th:href="${node.value}"></a>
    </li>
</th:block>

<link th:href="${cssLink}" th:fragment="cssFragment (cssLink)" rel="stylesheet">

<style th:utext="${inlineCss}" th:fragment="inlineCssFragment (inlineCss)"></style>

<script th:src="${scriptLink}" th:fragment="scriptFragment (scriptLink)"></script>

<script th:utext="${inlineScript}" th:fragment="inlineScriptFragment (inlineScript)"></script>

</body>
</html>